@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&family=IBM+Plex+Sans:wght@400;500;600&family=IBM+Plex+Mono:wght@400;500&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-display: 'Sora', sans-serif;
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
  
  --color-navy: #0F1B2D;
  --color-blue-accent: #3B82F6;
  --color-teal-pos: #14B8A6;
  --color-amber-warn: #F59E0B;
  --color-red-risk: #EF4444;
  --color-gray-crit: #111827;
}

@layer base {
  body {
    background-color: var(--color-navy);
    color: #f3f4f6;
  }
}

@theme {
  --animate-aurora: aurora 60s linear infinite;

  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
}

